**/.metadata/
**/.project/
**/.settings/
**/bin/
**/.classpath/
C++/Retos_de_Programacion/.gitignore
C++/Retos_de_Programacion/.project
C++/Retos_de_Programacion/CADENAS_DE_CARACTERES_04/.cproject
C++/Retos_de_Programacion/CADENAS_DE_CARACTERES_04/.gitignore
C++/Retos_de_Programacion/CADENAS_DE_CARACTERES_04/.project
C++/Retos_de_Programacion/ESTRUCTURAS_DE_DATOS_03/.cproject
C++/Retos_de_Programacion/ESTRUCTURAS_DE_DATOS_03/.gitignore
C++/Retos_de_Programacion/ESTRUCTURAS_DE_DATOS_03/.project
C++/Retos_de_Programacion/FUNCIONES_Y_ALCANCE_02/.cproject
C++/Retos_de_Programacion/FUNCIONES_Y_ALCANCE_02/.gitignore
C++/Retos_de_Programacion/FUNCIONES_Y_ALCANCE_02/.project
C++/Retos_de_Programacion/OPERADORES_Y_ESTRUCTURAS_DE_CONTROL_01/.cproject
C++/Retos_de_Programacion/OPERADORES_Y_ESTRUCTURAS_DE_CONTROL_01/.gitignore
C++/Retos_de_Programacion/OPERADORES_Y_ESTRUCTURAS_DE_CONTROL_01/.project
C++/Retos_de_Programacion/SINTAXIS_VARIABLES_TIPOS_DE_DATOS_Y_HOLA_MUNDO_00/.cproject
C++/Retos_de_Programacion/SINTAXIS_VARIABLES_TIPOS_DE_DATOS_Y_HOLA_MUNDO_00/.gitignore
C++/Retos_de_Programacion/SINTAXIS_VARIABLES_TIPOS_DE_DATOS_Y_HOLA_MUNDO_00/.project
C++/Retos_de_Programacion/VALOR_Y_REFERENCIA_05/.cproject
C++/Retos_de_Programacion/VALOR_Y_REFERENCIA_05/.gitignore
C++/Retos_de_Programacion/VALOR_Y_REFERENCIA_05/.project
Java/.project
Java/Retos_de_Programacion/.classpath
Java/Retos_de_Programacion/.gitignore
Java/Retos_de_Programacion/.project
Java/Retos_de_Programacion/src/.classpath
Java/Retos_de_Programacion/src/.gitignore
Java/Retos_de_Programacion/src/.project
Java/Retos_de_Programacion/src/CADENAS_DE_CARACTERES_04.class
Java/Retos_de_Programacion/src/VALOR_Y_REFERENCIA_05.class
C++/Retos_de_Programacion/RECURSIVIDAD_06/.cproject
C++/Retos_de_Programacion/RECURSIVIDAD_06/.gitignore
C++/Retos_de_Programacion/RECURSIVIDAD_06/.project
C++/Retos_de_Programacion/PILAS_Y_COLAS_07/.cproject
C++/Retos_de_Programacion/PILAS_Y_COLAS_07/.gitignore
C++/Retos_de_Programacion/PILAS_Y_COLAS_07/.project
C++/Retos_de_Programacion/CLASES_08/.cproject
C++/Retos_de_Programacion/CLASES_08/.gitignore
C++/Retos_de_Programacion/CLASES_08/.project